/* /////////////////////////////////////////@import url('https://fonts.googleapis.com/css?family=Pridi&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,500,600,700&display=swap" rel="stylesheet');

.preloader{
  padding: 15px;
  height: 100vh;
  width: 100vw;
  /* height: 650px;
  width: 400px; */
  background-color: #252e4b;
  /* opacity: .4; */
  color: #e2e2e2;
  text-align: center;
}




@media screen and (min-width: 1025px){
* {

  font-family: Exo 2, sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #252e4b;
  border-radius: 10px;
}

html {
  background-color: #e2e2e2;
}
#hamburgerMenu li{
  display: none;
}
#hamburgerMenu{
  /* display: none; */
}
#aboutMeContent {
  align-content: flex-start;
  display: flex;
  justify-content: space-around;
}

#welcomeMessage {
  font-size: 50px;
  color: #256EB5;
  text-shadow: 2px 2px 4px #7f7f7f;
  width: 60%;
}

#skillzContainer {
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 75vw;
  height: 85vh;
  margin: 0 auto;
}

.skill {
  margin: 50px;
}

#javascript {
  width: 120px;
  height: 120px;
  filter: drop-shadow(0 0 4px white) drop-shadow(0 0 2px white);
}

#node {
  filter: drop-shadow(0 0 4px white);
  height: 80px;
  width: 90px;
}

.skillPicture {
  width: 80px;
  height: 80px;
  filter: drop-shadow(0px 0px 5px white) drop-shadow(0 0 2px white);
}

.skillPicture:hover {
  transform: scale(1.5);
}

.Header_root {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  border-bottom: 4px solid #fb3640;
}

.headerContainer {
  height: 12vh;
  width: 100vw;
  z-index: 3;
}

hr {
  margin-bottom: 60px;
  background-color: #fb3640;
}

#headerLinks a {
  text-decoration: none;
  color: white;
}

#headerLinks a:hover {
  color: #af252c;
}

#headerLinks li {
  display: inline;
  margin: 15px;
  list-style: none;
}

#headerLinks {
  font-weight: 600;
  color: white;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 4px;
}

#headerLinks li:hover {
  font-weight: 600;
  color: #af252c;
}

#projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25px auto;
}

.projects {
  width: 45vw;
  height: 40vh;
  margin: 20px;
  border-radius: 5px;
}

#footerContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

}

#footer li {
  display: inline;
  margin-right: 20px;
  font-size: 18px;
}

#derek {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
}

#footer a {
  text-decoration: none;
  color: #e2e2e2;
  letter-spacing: 4px;
}

#aboutMeContainer {
  width: 90vw;
  height: 90vh;
  margin: 30px auto;
}

#aboutMeTileContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: -370px auto;
  width: 100%;
  height: 85vh;

}

.aboutMeImg {
  width: 100%;
  height: 75%;
  padding-bottom: 2px;
  background-color: #e2e2e2;
}

.aboutMeTile {

  font-weight: 600;
  border-radius: 5px;
  background-color: #252e4b;
  width: 250px;
  height: 250px;
  color: #e2e2e2;
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
  padding: 4px;
}

.aboutMeTile:hover {
  color: #fb3640;
}

  /* FOOTER STYLING */

  #test {
    margin-top: 160px;
  }

  #contactMeHeader {
    text-align: center;
    letter-spacing: 2px;
    color: #252e4b
  }

  #linkedin {
    height: 35px;
    width: 35px;
  }

  #linksContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 427px;
    background-color: #364369;
  }

  #triangles {
    display: flex;
    justify-content: space-around;

  }

  #leftTriangle {
    outline-style: none;
    height: 80px;
    width: 205px;
    border-top: 80px solid transparent;
    border-left: 214px solid #546186;
    /* margin-right: 5px; */
  }

  #rightTriangle {
    outline-color: red;
    height: 80px;
    border-top: 80px solid transparent;
    border-right: 214px solid #546186;
    /* margin-left: 5px; */
    width: 205px;
  }

  #footer li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
  }

  #footer a {
    text-decoration: none;
    color: #e2e2e2;
    letter-spacing: 4px;
  }


}





@media screen and (max-width: 1024px){
  * {
    font-family: Exo 2, sans-serif;
    /* border: 1px solid gold; */
  }

  html {
    background-color: #e2e2e2;
    /* border: 1px solid blue; */
  }

  #main {
    width: 925px;
    /* border: 1px solid purple; */
  }

  .App {
    width: 925px;
    margin: 0;
    /* border: 1px solid black; */
  }

  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */

  /* HEADER STYLING */

  #hamburgerMenu {
    background-image: url(headerGif.gif);
    background-repeat: no-repeat;
    background-size: 100% 100vw;
    padding: 10px;
    width: 1004px;
    height: 30px;
    border-bottom: 4px solid #fb3640;
  }

  .menuItem {
    display: none;
    text-align: right;
  }

  #hamburgerMenu li {
    list-style: none;
    margin-bottom: 25px;
    color: white;
    padding-right: 10px;
    font-size: 40px;
    width: 300px;
    /* border: 1px solid gold; */
    text-align: right;
  }

  #projects {
    width: 150px;
    color: red;
  }

  #hamburgerMenuItems {
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
  }

  #headerLinks a {
    text-decoration: none;
    color: white;
  }

  #headerLinks a:hover {
    color: #af252c;
  }

  #headerLinks li {
    display: block;
    margin: 10px;
    list-style: none;
    text-align: right;
  }

  .headerLinks {
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 4px;
  }

  #headerLinks li:hover {
    font-weight: 600;
    color: #af252c;
  }


  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */


  /* ABOUT ME */
  #aboutMeContent {
    display: flex;
    justify-content: center;
    margin: 25px 12px;
    width: 95%;
  }

  #derek {
    margin-top: 25px auto;
    width: 350px;
    height: 350px;
  }

  #avatar {
    height: 350px;
    /* margin-top: 30px; */
  }

  #welcomeMessage {
    font-size: 55px;
    margin-right: 20px;
    color: #256EB5;
    text-shadow: 2px 2px 4px #7f7f7f;
    width: 100%;
  }

  #aboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1024px;
    height: 70vh;
    margin: 5px auto;
  }

  #aboutMeTileContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    height: 420px;
    margin: 0 auto;
  }

  .aboutMeImg {
    width: 100%;
    height: 88%;
    padding-bottom: 2px;
    background-color: #e2e2e2;
  }

  .aboutMeTile {
    font-weight: 600;
    border-radius: 5px;
    background-color: #252e4b;
    width: 450px;
    height: 450px;
    color: #e2e2e2;
    text-align: center;
    font-size: 34px;
    letter-spacing: 4px;
    padding: 8px;
    margin: 10px;
  }

  .aboutMeTile:hover {
    color: #fb3640;
  }


  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */


  /* SKILL PAGE STYLING */

  #skillzContainer {
    z-index: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 900px;
    height: 100vh;
    margin: 100px 48px;
  }

  .skill {
    margin: 35px;
  }

  #mongo{
    height: 160px;
    width: 160px;
  }

  #javascript {
    width: 180px;
    height: 180px;

    filter: drop-shadow(0 0 4px white) drop-shadow(0 0 2px white);
  }

  #node {
    filter: drop-shadow(0 0 4px white);
    height: 150px;
    width: 150px;
  }

  .skillPicture {
    width: 180px;
    height: 180px;
    filter: drop-shadow(0px 0px 5px white) drop-shadow(0 0 2px white);
  }

  .skillPicture:hover {
    transform: scale(1.5);
  }



  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */


  /* PROJECT PAGE STYLING */

  .projectsHr {
    background-color: #fb3640;
    height: 2px;
    width: 700px;
    text-align: center;
    margin: 20px auto;

  }

  #myProjectsContainer {
    width: 950px;
    margin: 100px 30px;
  }

  #projectsContainer {
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;

  }

  #projectsContainer a {
    height: 100%;
  }

  .projects {
    width: 850px;
    height: 45vh;
    margin: 20px 20px;
    border-radius: 5px;
  }


  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */

  /* FOOTER STYLING */

  #test {
    margin-top: 800px;
    width: 100vw;
  }

  #contactMeHeader {
    text-align: center;
    letter-spacing: 2px;
    color: #252e4b;
    font-size: 40px;
  }

  #linkedin {
    height: 35px;
    width: 35px;
  }

  #linksContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    background-color: #364369;
  }

  #triangles {
    display: flex;
    justify-content: space-around;
  }

  #leftTriangle {
    height: 80px;
    width: 600px;
    border-top: 80px solid transparent;
    border-left: 50vw solid #546186;
  }

  #rightTriangle {
    height: 80px;
    border-top: 80px solid transparent;
    border-right: 50vw solid #546186;
    width: 600px;
  }

  #footer li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
  }

  #footer a {
    text-decoration: none;
    color: #e2e2e2;
    letter-spacing: 4px;
  }

}






@media screen and (max-width: 768px){
  * {
    font-family: Exo 2, sans-serif;
    /* border: 1px solid gold; */
  }

  html {
    background-color: #e2e2e2;
    /* border: 1px solid blue; */
    width: 925px;
  }

  #main {
    width: 925px;
    /* border: 1px solid purple; */
  }

  .App {
    width: 925px;
    margin: 0;
    /* border: 1px solid black; */
  }

  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */

  /* HEADER STYLING */

  #hamburgerMenu {
    background-image: url(headerGif.gif);
    background-repeat: no-repeat;
    background-size: 100% 100vw;
    padding: 10px;
    width: 925px;
    height: 30px;
    border-bottom: 4px solid #fb3640;
  }

  .menuItem {
    display: none;
    text-align: right;
  }

  #hamburgerMenu li {
    list-style: none;
    margin-bottom: 25px;
    color: white;
    padding-right: 10px;
    font-size: 30px;
    width: 200px;
    text-align: right;
  }

  #projects {
    width: 150px;
    color: red;
  }

  #hamburgerMenuItems {
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
  }

  #headerLinks a {
    text-decoration: none;
    color: white;
  }

  #headerLinks a:hover {
    color: #af252c;
  }

  #headerLinks li {
    display: block;
    margin: 10px;
    list-style: none;
    text-align: right;
  }

  .headerLinks {
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 4px;
  }

  #headerLinks li:hover {
    font-weight: 600;
    color: #af252c;
  }


  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */


  /* ABOUT ME */
  #aboutMeContent {
    display: flex;
    justify-content: center;
    margin: 25px auto;
    width: 95%;
  }

  #derek {
    margin-top: 25px auto;
    width: 250px;
    height: 250px;
  }

  #avatar {
    height: 250px;
    /* margin-top: 30px; */
  }

  #welcomeMessage {
    font-size: 40px;
    margin-right: 20px;
    color: #256EB5;
    text-shadow: 2px 2px 4px #7f7f7f;
    width: 100%;
  }

  #aboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    height: 70vh;
    margin: 5px auto;
  }

  #aboutMeTileContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 86%;
    height: 420px;
    margin: 0 70px;
  }

  .aboutMeImg {
    width: 100%;
    height: 75%;
    padding-bottom: 2px;
    background-color: #e2e2e2;
  }

  .aboutMeTile {
    font-weight: 600;
    border-radius: 5px;
    background-color: #252e4b;
    width: 350px;
    height: 350px;
    color: #e2e2e2;
    text-align: center;
    font-size: 34px;
    letter-spacing: 4px;
    padding: 8px;
    margin: 10px;
  }

  .aboutMeTile:hover {
    color: #fb3640;
  }


  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */


  /* SKILL PAGE STYLING */

  #skillzContainer {
    z-index: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 875px;
    height: 100vh;
    margin: 100px 35px;
  }

  .skill {
    margin: 35px;
  }

  #javascript {
    width: 140px;
    height: 140px;
    
    filter: drop-shadow(0 0 4px white) drop-shadow(0 0 2px white);
  }

  #node {
    filter: drop-shadow(0 0 4px white);
    height: 100px;
    width: 100px;
  }

  .skillPicture {
    width: 100px;
    height: 100px;
    filter: drop-shadow(0px 0px 5px white) drop-shadow(0 0 2px white);
  }

  .skillPicture:hover {
    transform: scale(1.5);
  }



  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */


  /* PROJECT PAGE STYLING */

  .projectsHr {
    background-color: #fb3640;
    height: 2px;
    width: 600px;
    text-align: center;
    margin: 20px auto;

  }

  #myProjectsContainer {
    width: 900px;
    margin: 100px 30px;
  }

  #projectsContainer {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;

  }

  #projectsContainer a {
    height: 100%;
  }

  .projects {
    width: 750px;
    height: 45vh;
    margin: 20px 20px;
    border-radius: 5px;
  }

/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */

/* FOOTER STYLING */

#test {
  margin-top: 700px;
  width: 102%;
  height: 100%;
}

#contactMeHeader {
  text-align: center;
  letter-spacing: 2px;
  color: #252e4b;
  font-size: 30px;
}

#linkedin {
  height: 35px;
  width: 35px;
}

#linksContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  background-color: #364369;
}

#triangles {
  display: flex;
  justify-content: space-around;
}

#leftTriangle {
  height: 100px;
  width: 50vw;
  border-top: 80px solid transparent;
  border-left: 62vw solid #546186;
}

#rightTriangle {
  height: 100px;
  border-top: 80px solid transparent;
  border-right: 62vw solid #546186;
  width: 50vw;
}

#footer li {
  display: inline;
  margin-right: 20px;
  font-size: 18px;
}

#footer a {
  text-decoration: none;
  color: #e2e2e2;
  letter-spacing: 4px;
}

}





@media screen and (max-width: 414px) {
  * {
    font-family: Exo 2, sans-serif;
    /* border: 1px solid gold; */
  }

  html {
    background-color: #e2e2e2;
    width: 100%;
  }

  #main {
    width: 100%;
    /* border: 1px solid purple; */
  }

  .App {
    width: 425px;
    margin: 0;
    /* border: 1px solid black; */
  }

  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */

  /* HEADER STYLING */

  #hamburgerMenu {
    background-image: url(headerGif.gif);
    background-repeat: no-repeat;
    padding: 10px;
    width: 113vw;
    height: 30px;
    border-bottom: 4px solid #fb3640;
  }

  .menuItem {
    display: none;
    text-align: right;
  }

  #hamburgerMenu ul {
    text-align: right;
  }

  #hamburgerMenu li {
    list-style: none;
    margin-bottom: 25px;
    color: white;
    padding-right: 10px;
    font-size: 30px;
    width: 200px;
    text-align: right;
  }

  #projects {
    width: 150px;
    color: red;
  }

  #hamburgerMenuItems {
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
  }

  #headerLinks a {
    text-decoration: none;
    color: white;
  }

  #headerLinks a:hover {
    color: #af252c;
  }

  #headerLinks li {
    display: block;
    margin: 10px;
    list-style: none;
    text-align: right;
  }

  .headerLinks {
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 4px;
  }

  #headerLinks li:hover {
    font-weight: 600;
    color: #af252c;
  }


  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */


  /* ABOUT ME */
  #aboutMeContent {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  #derek {
    margin-top: 10px auto;
    width: 150px;
    height: 150px;
  }

  #avatar {
    height: 150px;
    margin-top: 30px;
  }

  #welcomeMessage {
    font-size: 26px;
    margin-right: 20px;
    color: #256EB5;
    text-shadow: 2px 2px 4px #7f7f7f;
    width: 100%;
  }

  #aboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
    height: 100vh;
    margin: 5px 34px;
  }

  #aboutMeTileContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 420px;
    margin: 0 auto;
  }

  .aboutMeImg {
    width: 100%;
    height: 75%;
    padding-bottom: 2px;
    background-color: #e2e2e2;
  }

  .aboutMeTile {
    font-weight: 600;
    border-radius: 5px;
    background-color: #252e4b;
    width: 175px;
    height: 175px;
    color: #e2e2e2;
    text-align: center;
    font-size: 16px;
    letter-spacing: 4px;
    padding: 6px;
    margin: 10px;
  }

  .aboutMeTile:hover {
    color: #fb3640;
  }


  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */


  /* SKILL PAGE STYLING */

  #skillzContainer {
    z-index: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 420px;
    height: 100vh;
    margin: 100px 35px;
  }

  .skill {
    margin: 15px;
  }

  #javascript {
    width: 90px;
    height: 90px;
    filter: drop-shadow(0 0 4px white) drop-shadow(0 0 2px white);
  }

  #node {
    filter: drop-shadow(0 0 4px white);
    height: 80px;
    width: 80px;
  }

  .skillPicture {
    width: 70px;
    height: 70px;
    filter: drop-shadow(0px 0px 5px white) drop-shadow(0 0 2px white);
  }

  .skillPicture:hover {
    transform: scale(1.5);
  }



  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */


  /* PROJECT PAGE STYLING */

  .projectsHr {
    background-color: #fb3640;
    height: 2px;
    width: 320px;
    text-align: center;
    margin: 20px 25px;
    
  } 

  #myProjectsContainer {
    width: 420px;
    margin: 100px 30px;
  }

  #projectsContainer {
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;

  }

  #projectsContainer a{
    height: 100%;
  }

  .projects {
    width: 400px;
    height: 45vh;
    margin: 20px 20px;
    border-radius: 5px;
  }


  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */

  /* FOOTER STYLING */

  #test {
    margin-top: 300px;
    width: 490px;
  }

  #contactMeHeader {
    text-align: center;
    letter-spacing: 2px;
    color: #252e4b;
    font-size: 30px;
  }

  #linkedin {
    height: 35px;
    width: 35px;
  }

  #linksContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    background-color: #364369;
  }

  #triangles {
    display: flex;
    justify-content: space-around;
  }

  #leftTriangle {
    height: 80px;
    width: 600px;
    border-top: 80px solid transparent;
    border-left: 247px solid #546186;
  }

  #rightTriangle {
    height: 80px;
    border-top: 80px solid transparent;
    border-right: 247px solid #546186;
    width: 600px;
  }

  #footer li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
  }

  #footer a {
    text-decoration: none;
    color: #e2e2e2;
    letter-spacing: 4px;
  }
 
}





@media screen and (max-width: 375px){
  * {
    font-family: Exo 2, sans-serif;
    /* border: 1px solid gold; */
  }

  html {
    /* border: 1px solid black; */
    background-color: #e2e2e2;
    width: 100%;
  }

  #main{
    /* width: 100%; */
    /* border: 1px solid purple; */
  }
  .App{
    width: 425px;
    margin: 0;
    /* border: 1px solid black; */
  }
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */

  /* HEADER STYLING */

    #hamburgerMenu{
    background-image: url(headerGif.gif);
    background-repeat: no-repeat;
    padding: 10px;
    width: 113vw;
    height: 30px;
    border-bottom: 4px solid #fb3640;
  }
  .menuItem{
    display: none;
    text-align: right;
  }
  #hamburgerMenu ul{
    text-align: right;
  }
  #hamburgerMenu li{
    list-style: none;
    margin-bottom: 25px;
    color: white;
    padding-right: 10px;
    font-size: 30px;
    width: 200px;
    text-align: right;
  }
  #projects{
    width: 150px;
    color: red;
  }
  #hamburgerMenuItems{
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
  }
  #headerLinks a {
    text-decoration: none;
    color: white;
  }

  #headerLinks a:hover {
    color: #af252c;
  }

  #headerLinks li {
    display: block;
    margin: 10px;
    list-style: none;
    text-align: right;
  }

  .headerLinks {
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 4px;
  }

  #headerLinks li:hover {
    font-weight: 600;
    color: #af252c;
  }


  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */


  /* ABOUT ME */
  #aboutMeContent {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  #derek {
    margin-top: 10px auto;
    width: 150px;
    height: 150px;
  }

  #avatar{
    height: 150px;
    margin-top: 30px;
  }

  #welcomeMessage {
    font-size: 24px;
    margin-right: 20px;
    color: #256EB5;
    text-shadow: 2px 2px 4px #7f7f7f;
    width: 100%;
  }

    #aboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 100vh;
    margin: 20px 18px;
  }

  #aboutMeTileContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }

  .aboutMeImg {
    width: 100%;
    height: 75%;
    padding-bottom: 2px;
    background-color: #e2e2e2;
  }

  .aboutMeTile {
    font-weight: 600;
    border-radius: 5px;
    background-color: #252e4b;
    width: 170px;
    height: 170px;
    color: #e2e2e2;
    text-align: center;
    font-size: 12px;
    letter-spacing: 4px;
    padding: 4px;
    margin: 10px;
  }

  .aboutMeTile:hover {
    color: #fb3640;
  }


  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */


  /* SKILL PAGE STYLING */

  #skillzContainer {
    z-index: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 410px;
    height: 100vh;
    margin: 100px 18px;
  }

  .skill {
    margin: 15px;
  }

  #javascript {
    width: 90px;
    height: 90px;
    filter: drop-shadow(0 0 4px white) drop-shadow(0 0 2px white);
  }

  #node {
    filter: drop-shadow(0 0 4px white);
    height: 80px;
    width: 80px;
  }

  .skillPicture {
    width: 70px;
    height: 70px;
    filter: drop-shadow(0px 0px 5px white) drop-shadow(0 0 2px white);
  }

  .skillPicture:hover {
    transform: scale(1.5);
  }



  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */


  /* PROJECT PAGE STYLING */

  .projectsHr{
    background-color: #fb3640;
    height: 2px;
    width: 300px;
    margin: 25px 25px;
    text-align: center;
  }
  #myProjectsContainer{
    width: 400px;
    margin: 100px auto;
  }

  #projectsContainer {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 6px;

  }

  .projects {
    width: 380px;
    height: 300px;
    margin: 20px;
    border-radius: 5px;
  }


/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */


  /* FOOTER STYLING */

  #test{
    margin: 0 auto;
  }

  #footer li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
  }

  #footer a {
    text-decoration: none;
    color: #e2e2e2;
    letter-spacing: 4px;
  }
}





@media screen and (max-width: 360px){
  * {
    font-family: Exo 2, sans-serif;
    /* border: 1px solid gold; */
  }

  html {
    background-color: #e2e2e2;
  }

  #main{
    width: 100%;
    /* border: 1px solid purple; */
  }
  .App{
    width: 425px;
    margin: 0;
    /* border: 1px solid black; */
  }
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */

  /* HEADER STYLING */

    *{
      /* border: 1px solid gold; */
    }
    #hamburgerMenu{
    background-image: url(headerGif.gif);
    background-repeat: no-repeat;
    padding: 10px;
    width: 113vw;
    height: 30px;
    border-bottom: 4px solid #fb3640;
  }
  .menuItem{
    display: none;
    text-align: right;
  }
  #hamburgerMenu ul{
    text-align: right;
  }
  #hamburgerMenu li{
    list-style: none;
    margin-bottom: 25px;
    color: white;
    padding-right: 10px;
    font-size: 30px;
    width: 200px;
    text-align: right;
  }
  #projects{
    width: 150px;
    color: red;
  }
  #hamburgerMenuItems{
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
  }
  #headerLinks a {
    text-decoration: none;
    color: white;
  }

  #headerLinks a:hover {
    color: #af252c;
  }

  #headerLinks li {
    display: block;
    margin: 10px;
    list-style: none;
    text-align: right;
  }

  .headerLinks {
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 4px;
  }

  #headerLinks li:hover {
    font-weight: 600;
    color: #af252c;
  }


  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */


  /* ABOUT ME */
  #aboutMeContent {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  #derek {
    margin-top: 10px auto;
    width: 150px;
    height: 150px;
  }

  #avatar{
    height: 150px;
    margin-top: 30px;
  }

  #welcomeMessage {
    font-size: 24px;
    margin-right: 20px;
    color: #256EB5;
    text-shadow: 2px 2px 4px #7f7f7f;
    width: 100%;
  }

    #aboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 100vh;
    margin: 20px 10px;
  }

  #aboutMeTileContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }

  .aboutMeImg {
    width: 100%;
    height: 75%;
    padding-bottom: 2px;
    background-color: #e2e2e2;
  }

  .aboutMeTile {
    font-weight: 600;
    border-radius: 5px;
    background-color: #252e4b;
    width: 170px;
    height: 170px;
    color: #e2e2e2;
    text-align: center;
    font-size: 12px;
    letter-spacing: 4px;
    padding: 4px;
    margin: 10px;
  }

  .aboutMeTile:hover {
    color: #fb3640;
  }


  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */


  /* SKILL PAGE STYLING */

  #skillzContainer {
    z-index: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 400px;
    height: 100vh;
    margin: 20px auto;
  }

  .skill {
    margin: 15px;
  }

  #javascript {
    width: 90px;
    height: 90px;
    filter: drop-shadow(0 0 4px white) drop-shadow(0 0 2px white);
  }

  #node {
    filter: drop-shadow(0 0 4px white);
    height: 80px;
    width: 80px;
  }

  .skillPicture {
    width: 70px;
    height: 70px;
    filter: drop-shadow(0px 0px 5px white) drop-shadow(0 0 2px white);
  }

  .skillPicture:hover {
    transform: scale(1.5);
  }



  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */


  /* PROJECT PAGE STYLING */

  .projectsHr{
    background-color: #fb3640;
    height: 2px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }
  #myProjectsContainer{
    width: 360px;
    margin: 0 30px;
  }

  #projectsContainer {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;

  }

  .projects {
    width: 350px;
    height: 45vh;
    margin: 20px;
    border-radius: 5px;
  }


/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */


  /* FOOTER STYLING */

  #test{
    margin-top: 160px;
    width: 100vw;
  }

  #contactMeHeader{
    text-align: center;
    letter-spacing: 2px;
    color: #252e4b
  }
  #linkedin{
    height: 35px;
    width: 35px;
  }
  #linksContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 427px;
    background-color: #364369;
  }
  #triangles{
    display: flex;
    justify-content: space-around;

  }
  #leftTriangle{
    outline-style: none;
    height: 80px;
    width: 205px;
    border-top: 80px solid transparent;
    border-left: 50vw solid #546186;
    /* margin-right: 5px; */
  }
  #rightTriangle{
    outline-color: red;
    height: 80px;
    border-top: 80px solid transparent;
    border-right: 50vw solid #546186;
    /* margin-left: 5px; */
    width: 205px;
  }

  #footer li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
  }

  #footer a {
    text-decoration: none;
    color: #e2e2e2;
    letter-spacing: 4px;
  }


}





@media screen and (max-width: 320px){
  #hamburgerMenu{
    width: 100%;
  }
  #aboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
    height: 100%;
    /* margin: 20px 10px; */
    /* border: 1px solid black; */
  }
  #hamburgerMenu li{
    font-size: 22px;
  }
  .stickyFooter{
    width: 120vw;
  }
  #aboutMeTileContainer{
    width: 400px;
    margin: 0 auto;
  }
}




  


/* ////////////////// */

/* ///////////////// */

/* ANIMATIONS */

.swirl-in-fwd {
  -webkit-animation: swirl-in-fwd 0.6s ease-out both;
  animation: swirl-in-fwd 0.6s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-13 20:42:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}


/* NEXT ANIMATION */

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-14 18:8:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateX(-500px);
    transform: translate(-500px);
    opacity: .5;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* NEXT ANIMATION */

.slit-in-vertical {
  -webkit-animation: slit-in-vertical 0.85s ease-out infinite alternate both;
  animation: slit-in-vertical 0.85s ease-out alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-14 23:32:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slit-in-vertical
 * ----------------------------------------
 */
@-webkit-keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }

  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}

@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }

  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}


/* //////////// */

/* NEXT ANIMATION */

.scale-in-center {
  -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-15 11:48:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}


/* ////////////// */

/* NEXT ANIMATION */

.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-15 1:35:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes shake-horizontal {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

/* ////////////// */

/* NEXT ANIMATION */
.rotate-center {
  -webkit-animation: rotate-center 12s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  animation: rotate-center 12s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-15 4:17:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* NEXT ANIMATION */
.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-15 18:48:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


/* ////////////// */

/* NEXT ANIMATION */

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-15 18:49:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* /////////////// */